{% extends 'base.html' %}

{% block title %}
About
{% endblock %}

{% block body %}

<div class="container">
    <div class="card mt-4">
        <div class="card-header">
            <h3>About<h3>
        </div>
        <div class="card-body">
            <h5 class="card-title">What is Groove?</h5>
            <p class="card-text">
                Groove is an application that let's you upload, store, and play all of your music from the cloud.
                You can now manage and listen to your music from any device, from anywhere around the world.
            </p>
            <h5 class="card-title">How to get start?</h5>
            <p class="card-text">
                To get started, first create a new artist. After an artist is created, add songs related to the artist.
            </p>
            <h5 class="card-title">How to search music?</h5>
            <p class="card-text">
                To search for specific artist/song on groove, you can use the search bar at the top of every page.
                If your search keyword matches any artist/songs/albums title, you will be redirected to the respective page with the
                search results.
            </p>
        </div>
    </div>
</div>

{% endblock %}